@model ComedyBookingApp.Models.ViewModels.ComicListViewModel
@using ComedyBookingApp.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Comedian List Page";
}
@if (User.IsInRole(SD.Booker))
{
    <div class="row pt-3">
        <div class="col-6">
            <h2 class="text-primary"><b>Look at all the Comedians!</b></h2>
        </div>
    </div>
    <div class="row container pb-3 backgroundWhite">

        <div class="col-12">
            <div class="row">
                @foreach (var comedian in Model.ComedianList.OrderBy(o => o.LastName))
                {
                    <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 pb-4">
                        <div class="card" style="border:2px solid #541609; border-radius:5px; background-image: linear-gradient(180deg, #E95420, #E67f25)">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <img src="@comedian.ImageUrl" style="max-height:300px;"class="card-img-top rounded" />
                                    <p class="text-white text-center mt-1 pb-2">@comedian.City, @comedian.State</p>
                                    
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <h3 class="card-title text-white">@comedian.FirstName @comedian.LastName</h3>
                                    <p class="text-white"><b>Agent's Phone:</b> @comedian.Agent.PhoneNumber</p>
                                    <p class="text-white pb-3"><b>Agent's Email:</b> @comedian.Agent.Email</p>
                                    <p class="text-white pb-2">@comedian.ExperienceYears Year(s) Experience</p>
                                </div>
                            </div>
                            <a asp-action="Upsert" class="btn btn-info" style="border-radius:2px;" asp-route-id="@comedian.Id">Book them now!</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else if (User.IsInRole(SD.Admin))
{
    <h1 class="text-center">Hello Admin, welcome to Bookr!</h1>
    <h6 class="text-center">You can perform CRUD commands to the backend database and manage user roles from the menu bar</h6>
    <div class="text-center"><img src="~/images/BookrLogo.jpg" /></div>
}
else
{
    <h1 class="text-center">Hello newbie, welcome to Bookr!</h1>
    <h6 class="text-center">Click register to make an account, or log in to get started!</h6>
    <div class="text-center"><img src="~/images/BookrLogo.jpg" /></div>
}


