@model ComedyBookingApp.Models.ViewModels.BookerEventVM
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Booker's Event Page";
}

    <div class="row pt-3">
        <div class="col-4">
            <h2 class="text-primary"><b>Here's all the Shows!</b></h2>
        </div>
        <div class="col-8 text-right">
            <a asp-action="Upsert" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Create A New Show</a>
            <a class="btn btn-success m-1" asp-area="Admin" asp-controller="Event" asp-action="Index">Manage Shows</a>
            <a class="btn btn-primary m-1" asp-area="Admin" asp-controller="ComedianShow" asp-action="Index">Manage Comedians on Shows</a>
        </div>
        <div class="row container pb-3 backgroundWhite">

            <div class="col-12">
                <div class="row">
                    @foreach (var show in Model.EventList.OrderBy(o => o.Date))
                    {
                        <div class="col-lg-12 col-xl-12 col-md-12 pb-4">
                            <div class="card" style="border:2px solid #541609; border-radius:5px; background-image: linear-gradient(180deg, #E95420, #E67f25)">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                                        <img src="@show.ImageUrl" style="max-height:600px; max-width:250px; width:auto"class="card-img-top mx-2 my-2 rounded" />
                                    </div>
                                    <div class="col-xl-7 mx-2">
                                        <h3 class="card-title text-white"><b>@show.Name - @show.Date, @show.Time</b></h3>
                                        <p class="text-white"><b>Location:</b> Takes place at @show.Location.Name</p>
                                        @if (show.Price > 0)
                                        {
                                            <p class="text-white my-2"><b>Price:</b> Costs $@show.Price to get in.</p>
                                        }
                                        else
                                        {
                                            <p class="text-white my-2">This show is free!</p>
                                        }
                                        @if (show.LongDesc != null)
                                        {
                                            <p class="text-white my-2"><b>Description:</b> @show.LongDesc</p>
                                        }
                                        else
                                        {
                                            <p class="text-white my-2">This show doesn't have a description.</p>
                                        }
                                    </div>
                                </div>

                                @if (Model.ComedianShowList.Where(c => c.EventId == show.Id).Count() > 0)
                                {
                                    <p class="text-white mx-2">Comedians on @show.Name: </p>
                                    <div class="row mx-2 pb-4">
                                        @foreach (var comedianshow in Model.ComedianShowList.Where(c => c.EventId == show.Id))
                                        {

                                            @foreach (var comedian in Model.ComedianList.Where(a => a.Id == comedianshow.ComedianId))
                                            {
                                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 pb-2">
                                                    <div class="text-white pl-4">@comedian.FirstName @comedian.LastName</div>
                                                    <img src="@comedian.ImageUrl" width="180" />
                                                </div>
                                            }

                                        }
                                    </div>
                                }
                                else
                                {
                                    <p class="text-white mx-2">Looks like you should add some comedians to this show!</p>
                                }
                                <a asp-action="NewComic" class="btn btn-info" style="border-radius:2px;" asp-route-id="@show.Id">Book a new comic now!</a>
                                
                            </div>
                                    
                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </div>

